*-
*.core
/.*.scores
/.Xauthority
/.cache/
/.config/gtk-2.0/
/.config/netsurf/
/.config/openttd/
/.config/wesnoth/
/.dillo/
/.fltk/
/.forward
/.hack/
/.history
/.links/
/.local/
/.sndio/
/.ssh/
/.xsession-errors
/bin/
/desk/
/etc/secret/
/src/**/*.o
/src/ext/
/tmp/
