*+
*-
*.a
*.core
*.exe
*.o
.redo/
/.*.scores
/.*history
/.Xauthority
/.cache/
/.cargo/
/.config/0ad/
/.config/Pinta/
/.config/gtk-2.0/
/.config/mono.addins/
/.config/netsurf/
/.config/openttd/
/.config/wesnoth/
/.dillo/
/.fltk/
/.forward
/.hack/
/.links/
/.local/
/.mono/
/.sndio/
/.ssh/
/.xsession-errors
/bin/*
/bin/src/bin/*
/desk/
/etc/secret/
/etc/wallpaper/*.zip
/mbox
/src/ext/
/src/rust/*.binary
/src/rust/*/
/tmp/
!/bin/*.do
!/bin/all.list
!/bin/src/
!/bin/src/bin/*.do
!/bin/src/bin/*.sh
