*-
*.core
/.*.scores
/.Xauthority
/.boswars/
/.cache/
/.cblocks/
/.chromium-bsu
/.cminesrc
/.config/0ad/
/.config/wesnoth/
/.corewars
/.crimson/
/.csokoban/
/.forward
/.hack/
/.history
/.local/
/.parallelrealities/
/.sndio/
/.ssh/
/.xsession-errors
/bin/
/desk/
/etc/secret/
/src/**/*.o
/src/ext/
/tmp/
